{%- if site.linkedin_id -%}
<a href="https://www.linkedin.com/in/{{ site.linkedin_id }}" title="LinkedIn">
  <i class="fab fa-linkedin"></i>
</a>
{% endif %}
{%- if site.github_id -%}
<a href="https://github.com/{{ site.github_id }}" title="GitHub">
  <i class="fab fa-github"></i>
</a>
{% endif %}
{%- if site.researchgate_id -%}
<a href="https://www.researchgate.net/profile/{{ site.researchgate_id }}/" title="ResearchGate">
  <i class="ai ai-researchgate"></i>
</a>
{% endif %}
{%- if site.googlescholar_id -%}
<a href="https://scholar.google.com/citations?user={{ site.googlescholar_id }}" title="Google Scholar">
  <i class="ai ai-google-scholar"></i>
</a>
{% endif %}
{%- if site.facebook_id -%}
<a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook">
  <i class="fab fa-facebook"></i>
</a>
{% endif %}