body {
  font-size: 14px;
}

.site-header .flex-column {
  float: left;
}

.site-title {
  font-family: "Audiowide", cursive;
}

.site-subtitle {
  float: right;
  font-size: 0.75em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .flex-column {
    width: 100%;
  }

  .site-nav {
    position: inherit;
    text-align: center;
    float: left;
    width: 100%;
    border: none;
  }
  
  .site-title {
    text-align: center;
  }

  .site-subtitle {
    text-align: center;
    padding-left: 5px;
  }
}

.site-nav .page-link {
  font-size: 0.8em;
  text-transform: uppercase;
}

.trigger {
  display: inline-flex;
}

.image-card {
  margin: 10px;
}

.book-image-card {
  margin: 10px;
  height: 250px;
}

.post-list-heading {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
}

.post-link {
  font-size: 0.8em;
  text-transform: uppercase;
}

.post-title {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.post-content h1 {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #7fe6a2;
  padding: 10px;
}

.post-content h2 {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
}

.post-content h3 {
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
}

.post-content h4 {
  font-size: 1em;
}

.gallery-item-image {
  margin: 10px 0;
}

a:hover .gallery-item-overlay {
  opacity: 1;
}

.gallery-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #011627bb;
}

.gallery-item-title {
  color: #fdfffc;
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

.gallery-item-title-bottom {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.link {
  font-weight: 100;
  font-size: 0.5em
}

.footer-col-wrapper {
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
}

/* Special classes */
.answer {
  padding-left: 20px;
  background-color: #7fe6a240
}

.citation {
  font-weight: 100;
  font-size: 10px;
  vertical-align: top;
  text-transform: lowercase;
}

.chinese-title-h2 {
  font-size: x-large;
  font-weight: bold;
  font-family: 'Noto Serif SC', serif;
}

.chinese-title-h3 {
  font-size: large;
  font-weight: bold;
  font-family: 'Noto Serif SC', serif;
}

.chinese-paragraph {
  font-size: large;
  font-family: 'Noto Serif SC', serif;
}

blockquote {
  font-size: 14px;
  border-left: none;
}

.abctext {
  display: none;
}

code {
  font-size: 12px !important;
}

.site-footer {
  padding: 5px 0px;
}

.copyright {
  float: left;
  padding-top: 15px;
  font-size: 12px;
}

.social {
  float: right;
  font-size: 30px;
}

.ai, 
.fab {
  color: black
}

.ai:hover,
.fab:hover {
  color:  #00c4ff
}

a:hover {
  text-decoration: none;
}
